﻿@using H3ArT.Models.Models
@model List<ReportArtwork>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Artwork List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Report ID
                    </th>
                    <th>
                        Artwork ID
                    </th>
                    <th>
                        Artwork Title
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Reported User
                    </th>
                    <th>
                        Reason
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/reportArtwork.js"></script>
}