@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="d-flex align-content-center justify-content-center">
    <div style="text-align: center; margin: 30vh">
        <h1>@ViewData["Title"]</h1>
        @if (Model.Status == true)
        {
            <p>
                Please check your <a href="https://mail.google.com/" class="text-black font-weight-bold ">email</a> to reset your password.
            </p>
        }
        else
        {
            <p style="color:red">
                The user does not exist or is not confirmed.
            </p>
        }
    </div>
</div>