@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div class="d-flex align-content-center justify-content-center" style="height:65vh">
    <div class="text-center m-auto">
        <h1>@ViewData["Title"]</h1>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            }
            else
            {
                <p>
                    Please check your <a href="https://mail.google.com/" class="text-black font-weight-bold ">email</a> to confirm your account.
                </p>
            }
        }
    </div>
</div>



