@using H3ArT.Models.Models
@model Package

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Note this dynamic -->
                <h2 class="text-white py-2">@(Model.PackageId != 0 ? "Update" : "Create") Package</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="PackageId" hidden />
            <input asp-for="AdminID" hidden />
            @* <input asp-for="@Model.artwork.applicationUser" hidden /> *@
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <!-- 1) Use this to list all the validation
                                 2) If you use "ModelOnly", it will not print the error of properties
                                    just print the error of a model in productController
                                 3) If you use "None", no msg will be printed
                            -->
                            <div asp-validation-summary="ModelOnly"></div>
                        </div>

                        <!-- Title -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="PackageName" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="PackageName"></label>
                            <span asp-validation-for="PackageName" class="text-danger"></span>
                        </div>

                        <!-- Description -->
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Description" class="form-control border-0 shadow"></textarea>
                            <label class="p-0 ms-2" asp-for="Description"></label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <!-- Price -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Price" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="Price"></label>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <!-- Amout Post -->
                        <div class="form-floating py-2 col-12">
                            <input asp-for="AmountPost" class="form-control border-0 shadow" />
                            <label class="p-0 ms-2" asp-for="AmountPost"></label>
                            <span asp-validation-for="AmountPost" class="text-danger"></span>
                        </div>

                        <!-- Buttons -->
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <input type="submit" value="@(Model.PackageId != 0 ? "Update" : "Create")" class="btn btn-outline-primary border form-control" />
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Package" asp-action="Index" class="btn btn-outline-primary form-control">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Script nay giup viec validation duoc hien len ngay khi nguoi dung nhap sai -->
@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

